<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP</title>
  </head>

  <body>
    <header>
      <h1 class="">
        BaolQ4's Evaluate a news article with Natural Language Processing
      </h1>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="App.handleSubmit(event)">
          <input id="url" type="url" name="input" placeholder="https://..." />
          <button
            type="submit"
            name=""
            value="submit"
            onclick="App.handleSubmit(event)"
            onsubmit="App.handleSubmit(event)"
          >
            Submit
          </button>
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <pre id="results"></pre>
      </section>
    </main>

    <footer>
      <p>&copy BaoLQ4</p>
    </footer>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
