<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="App.handleSubmit(event)">
          <input id="name" type="url" name="input" placeholder="https://..." />
          <button
            type="submit"
            name=""
            value="submit"
            onclick="App.handleSubmit(event)"
            onsubmit="App.handleSubmit(event)"
          >
            Submit
          </button>
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <pre id="results"></pre>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
</html>
