form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

button[type="submit"] {
  width: 100%;
}

#results {
  background: #444;
  color: #ccc;
  font-family: consolas;
  padding: 24px;
  font-size: 14px;
  max-height: 500px;
  overflow: auto;
}
